body html{

    height:100%;
    width:100%;


}

.square{

    height:50px;
    width:50px;
    color: black;
    background-color: black;
    padding:5px;
    margin: 5px 5px;


}



.game-grid{
    display:flex;
    flex-wrap:wrap;
    background-color: tan;
    /* padding: 0 0 10px 10px; */
    align-items: center;
    justify-content: center;
    width: 250px;

}


