html{
    height:100%;
}



body{
    height:100%;
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
    
}


.square{

    display:flex;
    height:50px;
    width:50px;
    color: white;
    background-color: black;
    padding:5px;
    margin: 5px 5px;
    align-items: center;
    justify-content: center;
    


}



.game-grid{
    display:flex;
    flex-wrap:wrap;
    background-color: tan;
    padding: 0 0 10px 10px; 
    align-items: center;
    justify-content: center;
    width: 250px;

}

.game-winner{
    display:flex;
    flex-wrap:wrap;
    font-size: medium;
    color:red;
    
}


